<!-- ============== SECTION PAGETOP ============== -->
  <div class="container">
    <ol class="breadcrumb ondark mb-0">
    <li class="breadcrumb-item"><a href="">Home</a></li>
    <li class="breadcrumb-item"><a href="product">Product</a></li>
    <li class="breadcrumb-item active" aria-current="page">Product Catalog</li>
    </ol>
    <div class="filter-container collapse card d-lg-block mb-5">

      <article class="filter-group">
        <header class="card-header">
          <a class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside_cate" role="button" aria-expanded="false">
          <i class="icon-control fa fa-chevron-down"></i>  Category 
          </a>
        </header>
        <div class="collapse" id="collapse_aside_cate">
          <div class="card-body">
            <div *ngFor="let cate of productcateunique">
              <input type="checkbox" [(ngModel)]="selectedCates" [value]="cate" (ngModelChange)="applyFilters()">
              <span class="form-check-label"> {{cate}} </span>
            </div>
        </div> <!-- card-body .// -->
    </div> <!-- collapse.// -->
    </article>
    
      <article class="filter-group">
        <header class="card-header">
          <a class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside_price" role="button" aria-expanded="false">
          <i class="icon-control fa fa-chevron-down"></i>  Pet type 
          </a>
        </header>
        <div class="collapse" id="collapse_aside_price">
          <div class="card-body">
            <div>
              <span class="form-check-label" *ngFor="let s of pettypeunique"> {{s}} </span>
              <input type="checkbox" [(ngModel)]="selectedPetTypes" [value]="" (ngModelChange)="applyFilters()">
            </div>
        </div> <!-- card-body .// -->
    </div> <!-- collapse.// -->
    </article>
    <article class="filter-group">
        <header class="card-header">
          <a class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside_type" role ="button">
          <i class="icon-control fa fa-chevron-down"></i>  Price
          </a>
        </header>
        <div class="collapse" id="collapse_aside_type">
          <div class="card-body">
            <label for="lowerPrice">From:</label>
            <input type="number" id="lowerPrice" [(ngModel)]="lowerPrice" (ngModelChange)="applyFilters()" min="0">
            <br>
            <label for="upperPrice">To:</label>
            <input type="number" id="upperPrice" [(ngModel)]="upperPrice" (ngModelChange)="applyFilters()" min="0">
          </div>
    </div> <!-- collapse.// -->
    </article>
    </div>
    <img class="img" src="./assets/images/productcatalog_img/image 1643.png" alt="Product Image">
  </div> <!-- container //  -->
<!-- ============== SECTION PAGETOP END// ============== -->
<!-- ============== SECTION CONTENT ============== -->
  <div class="container">
    <div class="product-section">
      <div class="product-grid">
        <div class="product-card">
          <button (click)="sortPrice('asc')" class ="btn-color">Price Ascending</button>
          <button (click)="sortPrice('dsc')" class ="btn-color">Price Descending</button>
          <div class="product-overlay">
            <div class="badge sale">Sale</div>
          </div>
        </div>

        <div class="product" *ngFor="let product of products | paginate:{itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
          <img src="{{product.img}}" width="150px" height="150px" (click)="detailProduct(product._id)">

          <div class="product-details">

            <h2 class="product-title">{{product.name}}</h2>
            <div class="price">
              <div>{{product.price}} VND</div>
            </div>
            <button (click)="addToCart(product)" class="btn-color">Add to Cart</button>
          </div>
          <!-- ... (Add more product entries as needed) ... -->
        </div>
      </div>
    </div>
    <!-- product-section .// -->
  </div>
  <div class ="center">
    <pagination-controls class="pagination" previousLabel="Prev" nextLabel="Next" (pageChange)="onChange($event)">
    </pagination-controls>
  </div>

<!-- catalog-container .// -->
