<table class="following-infor">
    <tr>
        <td rowspan="2">
            <h1>PETOPIA</h1>
        </td>
        <td>
            <p>Enter your email to receive the latest promotion information from Petopia</p>
        </td>
    </tr>
    <tr>
        <td>
            <input type="email" alt=""/>
        </td>
        <td>
            <input class="register-button" type="button" value="Register" alt=""/>
        </td>
    </tr>
</table>

<!-- Table 2 -->
<table class="following-infor">
    <tr>
        <td>
            FOR FURTHER INFORMATION
        </td>
        <td colspan="2">
            GO TO
        </td>
        <td>
            CUSTOMER SUPPORT
        </td>
    </tr>
    <tr>
        <td>
            6/7 U Ghe Street, Quarter 2
            <br> Tam Phu Ward, City. Thu Duc, City. HCM
            <br> 0896878929
            <br> hello&#64;petopia.com
        </td>
        <td>
            Home
            <br> About us
            <br> Products
        </td>
        <td>
            Services
            <br> Plans
            <br> Tips
        </td>
        <td>
            Privacy Policy
            <br> Sales and Return Policy
            <br> Payment policy
            <br> Delivery Policy
        </td>
    </tr>
</table>