:root{
    --primary:#EEECE0;
    --secondary:#F5F5F5;
    --text:#311C1C;
    --blue-text:#22668D;
    --red-text:#FF7970;
    --yellow-btn:#FFCC70;
}
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
    }
    
    .header-check {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1348px;
      padding: 20px;
    }
    .address-shipping {
      display: flex;
      flex-direction: column;
      background-color: rgba(238, 236, 224, 0.47);
      width: 100%;
      max-width: 1348px;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .order {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1348px;
      padding: 20px;
      background: rgba(238, 236, 224, 0.47);
      border-radius: 30px;
      margin: auto;
    }
    .paySection {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1348px;
      background: rgba(238, 236, 224, 0.47);
      border-radius: 10px;
      margin: auto;
      padding: 20px;
      margin-top: 20px;
    }
    
    .paymethods {
      display: flex;
      justify-content: start;
      list-style: none;
      margin: 15px 26px 0 0;
      padding: 20px;
      border-radius: 10px;
    }
    .totals {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    
    .totals .totals-item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;
      padding-left: 10px;
    }
    
    .totals-value {
      padding-left: 20px; /* Adjust as needed */
    }
    .btn-success {
      align-self: center; /* Center the button in its flex container */
      padding: 10px 20px;
      border-radius: 60px;
      background: #FFCC70;
      color: #000;
      font-size: 2rem;
      font-weight: 800;
      line-height: normal;
      text-align: center;
    }
    .credit-card {
      display: flex;
      flex-direction: column;
      width: 100%; /* Adjust as needed */
      background: #F3F1E8;
      border-radius: 30px;
    }
    
    .credit-card .line {
      display: flex;
    }
    
    .credit-card .line input {
      flex: 1;
      margin: 0.4rem 0.3rem;
    }
    .top-right-button,
    .top-right-button-back {
      align-self: flex-end;
      margin: 10px;
      /* Other styles as needed */
    }                        
    