
<div class="main-container">
    <div class="header">
        <img class="logo-image" src="./assets/images/Home_img/Logo.png" alt="logo"/>
        <div class="brand-name">PETOPIA</div>
        <div class="search-bar"><input type="search" id="search-bar"></div>
        <img class="profile-image" src="./assets/images/Home_img/Giỏ hàng.png" alt="profile"/>
        <a routerLink="/login"><img class="cart-icon" src="./assets/images/Home_img/Account.png" alt="cart"/></a>
    </div>
    <nav class="navigation">
        <div class="nav-item">Products</div>
        <div class="nav-item">Services</div>
        <div class="nav-item">Plans</div>
        <div class="nav-item">Tips</div>
        <div class="nav-item">Orders</div>
        <div class="nav-item">About us</div>
    </nav>
</div>