<section class="py-5">
    <div class="container">
      <ol class="breadcrumb ondark mb-0">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Blog Management</li>
      </ol>
    </div> <!-- container //  -->
</section>
<div class ="container">
    <div class ="row d-flex justify-content-center">
        <div class ="col-md-4 mb-5">
            <div class ="card shadow-effect">
                <button class ="card-body text-center bg-color">
                    <h2 class ="text-center text-color" (click)="createBlog()"> ADD NEW POST</h2>
                    <p class ="text-center text-white"> Create a new content for Petopia's Blog</p>
                </button>
            </div>
        </div>
        <div class ="col-md-4 mb-5">
            <div class ="card shadow-effect">
                <button class ="card-body text-center bg-color">
                    <h2 class ="text-center text-color" (click)="editBlog()"> EDIT POST</h2>
                    <p class ="text-center text-white"> Make change or delete post for Petopia's Blog</p>
                </button>
            </div>
        </div>
    </div>
</div>
